.modal {
    margin: auto;
    padding-left: 30px;
    padding-top: 30px;
    border-color: rgba(128, 128, 128, 0.443);
    border-width: 2px;
    width: 600px;
    height: 500px;
    font-family: "roboto", sans-serif;
}

.modal__title {
    margin-bottom: 40px;
    font-weight: normal;
    font-size: 20px;
}

.modal__question {
    margin-bottom: 30px;
    font-size: 16px;
}

.modal__question,
.input {
    display: flex;
}

.modal__date {
    font-size: 14px;
}

.input {
    width: 150px;
    height: 30px;
    margin-bottom: 200px;
    border-color: rgb(187, 185, 185);
    border-radius: 3px;


}

.modal__search {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px 15px 15px 0px;

    background-color: #E3170A;
    text-align: center;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    line-height: 45px;
    width: 180px;
    height: 45px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.modal__message {
    padding-top: 30%;
    margin: auto;
    width: 200px;
    font-weight: normal;
}