/* Grundläggande layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    text-align: center;
}

/* FILTER-knappen */
.main__button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #8ACFE5;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Effekt när man hovrar på knappen */
.main__button:hover {
    background-color: #6aaed7;
}

h3{
    text-align: left;
}

h5{
    text-align: right;
    margin-bottom: 10px;
}


/* Boxens struktur */
.filter_box {
    display: flex;
    align-items: flex-start; 
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

/* Innehåll för boxen */
.filter_box_content {
    background-color: white;
    padding: 20px;
    border: 1px solid rgb(118, 115, 115);
    border-radius: 10px; /* Rundade hörn */
    width: 70%;
    position: fixed;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    /* Flexbox för layout */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; /* Avstånd mellan kolumner */
}

.by_type, .by_rating, .by_tags, .search_input{
    flex: 1; 
    display: flex;
    flex-direction: column; 
    text-align: center; 
}

.by_type{
    
}

.by_rating {
    
}

 /* 
    RATING STJÄRNORNA 
    .challenge__rating__container{
        transform: translateY(-35px);
        margin-left: 15px;
    }
    
    .challenges__rating__empty__star, .challenge__rating__half__filled, .challenge__rating__filled {
        margin-right: 5px;
        width: 20px;
        height: 20px;
    }   
    
*/ 


/* Filter-taggar */
.by_tags {
    align-items: flex-end; /*placerar rubben och taggarna till höger*/
}

.search_input {
    align-items: center;
    border: #333;
    border-width: 50px;
}
input {
    font-size: medium;
    border-radius: 5px;
    height: 25px;
}

/* Stängknappen */
.filter_box_close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}




.filter__tag {
    background-color: #f0f0f0;
    flex-direction: row;
    color: #333;
    padding: 5px 15px;
    border-radius: 20px;  /* Rundade hörn */
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter__tag:hover {
    background-color: #ccc; /* Hover-effekt */
}

/* fokusram */
.filter__tag:focus {
    outline: none; 
}


/* container för rutorna */
.boxes form {
    display: flex;
    flex-direction: column;
}

/* Styling kryssrutorna */
input[type="checkbox"] {
    margin-right: 10px; /* Avstånd mellan kryssrutan och texten */
}


.checkbox-label {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}