* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 145px;
    background-color: #011827;
}

.header__logo {
    width: 130px;
    margin-left: 30px;

}

.main-title {
    color: #fff;
    font-size: 24px;
    margin-left: 10px;
}

.top-image__img {
    width: 100%;
}

.nav-links {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.nav-links__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    min-width: 250px;
    height: 70px;
    font-weight: bold;
    font-size: 24px;
    color: #011827;
    background-color: #8ACFE5;
    text-decoration: none;

}

.nav-links__link2 {
    font-size: 16px;
    font-weight: bold;
    color: #36769D;
    margin-top: 30px;
}

.john-doe {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    flex-wrap: wrap;
    /* background-color: antiquewhite; */
}

.john-doe__img {
    /* background-color: #36769D; */
    height: 80px;
    margin-right: 20px;

}

.john-doe__text {
    /* background-color: #011827; */
    font-size: 24px;
    font-style: italic;
    margin-right: 25px;

}

.john-doe__small-text {
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding-left: 40px;
    margin-top: 10px;
}

.popular-challenges-title {
    display: flex;
    background-color: #36769D;
    justify-content: center;
    align-items: end;
    height: 80px;
}