* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 145px;
    background-color: #011827;
}

.header__logo {
    width: 130px;
    margin-left: 30px;

}

.main-title {
    color: #fff;
    font-size: 24px;
    margin-left: 10px;
}

.top-image__img {
    width: 100%;
}

.nav-links {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.nav-links__link,
.nav-links__link3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    min-width: 250px;
    height: 70px;
    font-weight: bold;
    font-size: 24px;
    color: #011827;
    background-color: #8ACFE5;
    text-decoration: none;
    border-radius: 5px;

}

.nav-links__link3 {
    margin-top: 5px;
}

.nav-links__link2,
.nav-links__link4 {
    font-size: 16px;
    font-weight: bold;
    color: #36769D;
    margin-top: 30px;
}

.john-doe {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    flex-wrap: wrap;
    /* background-color: antiquewhite; */
}

.john-doe__img {
    /* background-color: #36769D; */
    height: 80px;
    margin-right: 20px;

}

.john-doe__text {
    /* background-color: #011827; */
    font-size: 24px;
    font-style: italic;
    margin-right: 25px;

}

.john-doe__small-text {
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding-left: 40px;
    margin-top: 10px;
}

.popular-challenges {
    display: flex;
    align-items: center;
    /* background-color: #36769D; */
    padding-top: 20px;
    overflow-x: auto;
}

.popular-challenges__main-title {
    padding-bottom: 30px;
    padding-top: 100px;
    font-size: 32px;
    font-weight: normal;
    text-align: center;

}

.popular-challenges__container {
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    width: 80%;
    margin: 0px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px -5px black;

}

.popular-challenges__big-image {
    margin-bottom: 10px;
}

.popular-challenges--star:nth-child(1) {
    margin-left: 14px;
}

.popular-challenges--star {
    margin-left: 6px;
}

.popular-challenges__second-title {
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: normal;
    padding-left: 10px;
}

.popular-challenges__participants {
    display: inline-block;
    margin-left: 20px;
    font-size: 14px;
}

.popular-challenges__description {
    font-size: 18px;
    padding-top: 20px;
    padding: 10px;
}

.popular-challenges__link-wrapper {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.popular-challenges__link-wrapper__book-room {
    background-color: #E3170A;
    text-align: center;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    line-height: 45px;
    width: 180px;
    height: 45px;
    border-radius: 5px;
    margin: 5px 10px 5px 5px;
    font-size: 16px;
    font-weight: bold;
}

.story-text-and-link {
    text-align: center;
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #011827;
    color: #fff;
    font-size: 28px;
}

.story-text-and-link__text {
    padding: 0px 20px;
}

.story-text-and-link__link {
    color: #8ACFE5;
    display: block;
    margin: 50px auto 80px auto;
    text-decoration: none;
    padding: 15px;
    width: 60%;
    border: 3px solid #8ACFE5;
    border-radius: 3px;

}

.teambuilding__image-of-colleagues {
    width: 100%;
}

.teambuilding__heading, .play-online__heading {
    font-size: 32px;
    font-weight: bold;
    padding: 25px 18px;
}

.teambuilding__text, .play-online__text {
    font-size: 24px;
    padding: 0px 18px;
}

.teambuilding__link, .play-online__link {
    background-color: #E3170A;
    color: #fff;
    display: block;
    text-decoration: none;
    line-height: 70px;
    border-radius: 5px;
    text-align: center;
    width: 310px;
    height: 70px;
    margin: 50px 0px 60px 20px;
    font-size: 24px;
    font-weight: bold;
}

.play-online__img{
    width:100%;
}

.foot{
    background-color: #011827;
    color:#fff;
    padding:60px 25px;
}