/* reminder: rem = px/16 */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 145px;
    background-color: #011827;
}

.header__logo {
    width: 130px;
    margin-left: 30px;

}

.header__main-title {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 10px;
    width: 100px;
}

.header__desktop-menu{
    display: none;
}

.top-image__img {
    width: 100%;
}

.top-image__img--desktop{
    display:none;
}

.nav-links {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.nav-links__on-site {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    min-width: 250px;
    height: 70px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #011827;
    background-color: #8ACFE5;
    text-decoration: none;
    border-radius: 5px;

}

.nav-links__online {
    font-size: 1rem;
    font-weight: bold;
    color: #36769D;
    margin-top: 30px;
}


.john-doe, .john-doe--right {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    flex-wrap: wrap;
    /* background-color: antiquewhite; */
}

.john-doe--right{
    display: none;
}

.john-doe__img {
    /* background-color: #36769D; */
    height: 80px;
    margin-right: 20px;

}

.john-doe__text {
    /* background-color: #24be83; */
    font-size: 1.5rem;
    /* width: 330px; */
    width: 70%;
    max-width: 600px; 
    font-style: italic;

}

.john-doe__small-text {
    /* background-color: aquamarine; */
    width: 100%;
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
}


.popular-challenges__main-title {
    padding-bottom: 30px;
    padding-top: 100px;
    font-size: 2rem;
    font-weight: normal;
    text-align: center;

}

.popular-challenges {
    display: flex;
    align-items: center;
    /* background-color: #36769D; */
    padding-top: 20px;
    overflow-x: auto;
}

.popular-challenges__container {
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    width: 80%;
    max-width: 364px;
    margin: 0px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px -5px black;

}

.popular-challenges__big-image {
    margin-bottom: 10px;
}

.popular-challenges__star--filled:nth-child(1) {
    margin-left: 14px;
}

.popular-challenges__star--filled,
.popular-challenges__star--empty {
    margin-left: 6px;
}

.popular-challenges__second-title {
    font-size: 1.75rem;
    margin-bottom: 5px;
    font-weight: normal;
    padding-left: 10px;
}

.popular-challenges__participants {
    display: inline-block;
    margin-left: 20px;
    font-size: 0.9rem;
}

.popular-challenges__description {
    font-size: 1.13rem;
    padding-top: 20px;
    padding: 10px;
}

.popular-challenges__link-wrapper {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.popular-challenges__book-room {
    background-color: #E3170A;
    text-align: center;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    line-height: 45px;
    width: 180px;
    height: 45px;
    border-radius: 5px;
    margin: 5px 10px 5px 5px;
    font-size: 1rem;
    font-weight: bold;
}

.story-text-and-link {
    text-align: center;
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #011827;
    color: #fff;
    font-size: 1.75rem;
}

.story-text-and-link__text {
    padding: 0px 20px;
}

.story-text-and-link__link {
    color: #8ACFE5;
    display: block;
    margin: 50px auto 80px auto;
    text-decoration: none;
    padding: 15px;
    max-width: 300px;
    border: 3px solid #8ACFE5;
    border-radius: 3px;

}

.teambuilding__image-of-colleagues {
    width: 100%;
}

.teambuilding__heading,
.play-online__heading {
    font-size: 2rem;
    font-weight: bold;
    padding: 25px 18px;
}

.teambuilding__text,
.play-online__text {
    font-size: 1.5rem;
    padding: 0px 18px;
}

.teambuilding__link,
.play-online__link {
    background-color: #E3170A;
    color: #fff;
    display: block;
    text-decoration: none;
    line-height: 70px;
    border-radius: 5px;
    text-align: center;
    width: 310px;
    height: 70px;
    margin: 50px 0px 60px 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.play-online__link {
    margin-bottom: 100px;
}

.play-online__img {
    width: 100%;
}

.foot {
    background-color: #011827;
    color: #fff;
    padding: 60px 25px;
    font-size: 1.3rem;
}

.foot__heading {
    margin-bottom: 10px;
}

.foot__text {
    margin-bottom: 40px;
}

.foot__sitemap {
    margin-bottom: 20px;
}

.foot__heading-1 {
    margin-bottom: 6px;
}

.foot a {
    display: block;
    text-decoration: none;
    color: #fff;

}

.foot__legal {
    margin-bottom: 25px;
}

.foot__play-onsite {
    margin-bottom: 40px;
}

.foot__heading-2 {
    margin-bottom: 6px;
}


@media screen and (min-width: 1000px) {
    .header {
        height: 215px;
        flex-wrap: wrap;
    }

    .header__main-title {
        /* background-color: red; */
        width: auto;
        font-size: 2.5rem;
        font-weight: bold;
        margin-left: 30px;
        margin-top: 45px;
    }

    .header__desktop-menu{
        /* background-color: #8ACFE5; */
        display:flex;
        justify-content: center;
        width:100%;
        color:#fff;   
    }

    .header__desktop-menu a{
        /* background-color: #36769D; */
        margin: auto 50px;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .header__play-online, 
    .header__play-onsite,
    .header__story{
        color:#fff;
    }

    .header__contact{
        color:#8ACFE5;
    }

    .top-image__img{
        display: none;
    }

    .top-image__img--desktop{
        display: block;
        width:100%;
    }

    .john-doe-wrapper{
        display: flex;
        justify-content: center;
        margin-top:70px;
    }

    .john-doe--right{
        display: flex;
        /* background-color: red; */
    }

    .john-doe__text{
        width: 390px;
    }

    .nav-links__online{
        display: none;
    }

    .john-doe__small-text{
        margin-right:60px;
    }
}